<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <!--[recipe] property se odnosi na recipe atribut iz klase RecipeItemComponent koji se pomocu input dekoratora povezuje sa ovom listom-->
    <div class="col-xs-12">
        <app-recipe-item 
        *ngFor="let recipeElement of recipes;" 
        [recipe]="recipeElement"
        (recipeSelected) = "onRecipeSelected(recipeElement)">        
        </app-recipe-item>
    </div>
</div>